<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Consulta Populacional</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Consulta de População</h1>
  <form action="/consultar" method="post">
    <input type="text" name="pergunta" placeholder="Ex: Qual a população de Niterói?">
    <button type="submit">Consultar</button>
  </form>
  {% if resposta %}
  <div class="resposta">
    <h3>Resposta:</h3>
    {{ resposta|safe }}
  </div>
  {% endif %}

<h1>TESTE - Consulta de População</h1>
  <form action="/teste" method="post">
    <input type="text" name="pergunta_teste" placeholder="Ex: Qual a população de Araruama?">
    <button type="submit">Consultar</button>
  </form>
  {% if resp_teste %}
  <div class="resp_teste">
    <h3>Resposta:</h3>
    {{ resp_teste|safe }}
  </div>
  {% endif %}

</body>
</html>
